/* styles for my resume */

body {
  font-family: Open Sans, Arial, san-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
}
/* used container to make it look more like a website */
#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}
/* banner name at top */
#name {
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}
#menu {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
#menu li{
  display: inline;
}
#description {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}
/* my title style */
#title {
  font-size: 1.5em;
  font-weight: 600px;
  text-align: center;
  color: #33485e;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
/* styles for headers */
.sectionheader {
  font-size: 1.5em;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  background-color: #33485e;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  width: 70%;
  min-width: 300px;
  padding: 5px;
}
/* styles for job titles */
.jobtitle {
  font-weight: 600;
  font-size: 1.5em;
}
/* styles for my job organization */
.organization {
  font-weight: 400;
  font-size: 1.25em;
}
/* styles for job dates */
.date {
  font-style: italic;
  font-weight: 400;
  font-size 1em;
  margin-top: 2px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
#degrees {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
#do{
  margin-top: 5px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
.top {
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom 30px;
}
/* styles for list items */
ul {
  font-size: 1em;
}
