body {
  font-family: Open Sans, Arial, san-serif;
  font-size: 1en;
  color: #444;
  font-weight: 400;
}
h1 {
  font-size: 3en;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
}
p.title {
  font-size: 1.5em;
  color: #33485e;
  text-transform: uppercase;
}
h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  background-color: #33485e
}
h3 {
  font-weight: 600;
  font-size: 1.5em;
}
h4 {
  font-weight: 400;
  font-size: 1.5em;
}
h5 {
  font-style: italic;
  font-weight: 400;
  font-size 1em;
}
ul {
  font-size: 1em;
}
